NEXT_PUBLIC_SUPABASE_URL=https://ljfnqzlzffvfhsantcqy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxqZm5xemx6ZmZ2ZmhzYW50Y3F5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5OTIxNjgsImV4cCI6MjA3NDU2ODE2OH0.SHhhIZlmS2UOrpQEozf3N_9Bl2p31nUH3xeHgET6ia4